.DS_Store
*.o
*.a
*.exe
*.mak
target
Makefile
.idea
dist

src/mediaServer/live555MediaServer
src/proxyServer/live555ProxyServer
src/testProgs/MPEG2TransportStreamIndexer
src/testProgs/openRTSP
src/testProgs/playSIP
src/testProgs/registerRTSPStream
src/testProgs/sapWatch
src/testProgs/testAMRAudioStreamer
src/testProgs/testDVVideoStreamer
src/testProgs/testH264VideoStreamer
src/testProgs/testH264VideoToTransportStream
src/testProgs/testH265VideoStreamer
src/testProgs/testH265VideoToTransportStream
src/testProgs/testMKVStreamer
src/testProgs/testMP3Receiver
src/testProgs/testMP3Streamer
src/testProgs/testMPEG1or2AudioVideoStreamer
src/testProgs/testMPEG1or2ProgramToTransportStream
src/testProgs/testMPEG1or2Splitter
src/testProgs/testMPEG1or2VideoReceiver
src/testProgs/testMPEG1or2VideoStreamer
src/testProgs/testMPEG2TransportReceiver
src/testProgs/testMPEG2TransportStreamTrickPlay
src/testProgs/testMPEG2TransportStreamer
src/testProgs/testMPEG4VideoStreamer
src/testProgs/testOggStreamer
src/testProgs/testOnDemandRTSPServer
src/testProgs/testRTSPClient
src/testProgs/testRelay
src/testProgs/testReplicator
src/testProgs/testWAVAudioStreamer
src/testProgs/vobStreamer
src/monocle-proxy/monocle-proxy
